# BC Data wrangling

In [1]:
#import all the libraries
import numpy as np
import pandas as pd

from pandas_profiling import ProfileReport

### 1-1: Data collection

In [2]:
#load the dataset
file_name = '../data/SEER_Breast_Cancer_Dataset.csv'
df_raw = pd.read_csv(file_name)

In [3]:
#display the sample of data
df_raw.head()

,Age,Race,Marital Status,Unnamed: 3,T Stage,N Stage,6th Stage,Grade,A Stage,Tumor Size,Estrogen Status,Progesterone Status,Regional Node Examined,Reginol Node Positive,Survival Months,Status
0,43,"Other (American Indian/AK Native, Asian/Pacifi...",Married (including common law),NaN,T2,N3,IIIC,Moderately differentiated; Grade II,Regional,40,Positive,Positive,19,11,1,Alive
1,47,"Other (American Indian/AK Native, Asian/Pacifi...",Married (including common law),NaN,T2,N2,IIIA,Moderately differentiated; Grade II,Regional,45,Positive,Positive,25,9,2,Alive
2,67,White,Married (including common law),NaN,T2,N1,IIB,Poorly differentiated; Grade III,Regional,25,Positive,Positive,4,1,2,Dead
3,46,White,Divorced,NaN,T1,N1,IIA,Moderately differentiated; Grade II,Regional,19,Positive,Positive,26,1,2,Dead
4,63,White,Married (including common law),NaN,T2,N2,IIIA,Moderately differentiated; Grade II,Regional,35,Positive,Positive,21,5,3,Dead

In [4]:
#get the summary of data
df_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4024 entries, 0 to 4023
Data columns (total 16 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Age                     4024 non-null   int64
 1   Race                    4024 non-null   object
 2   Marital Status          4024 non-null   object
 3   Unnamed: 3              0 non-null      float64
 4   T Stage                 4024 non-null   object
 5   N Stage                 4024 non-null   object
 6   6th Stage               4024 non-null   object
 7   Grade                   4024 non-null   object
 8   A Stage                 4024 non-null   object
 9   Tumor Size              4024 non-null   int64
 10  Estrogen Status         4024 non-null   object
 11  Progesterone Status     4024 non-null   object
 12  Regional Node Examined  4024 non-null   int64
 13  Reginol Node Positive   4024 non-null   int64
 14  Survival Months         4024 non-null   int64
 15  Status                  4024 non-null   object
dtypes: float64(1), int64(5), object(10)
memory usage: 503.1+ KB

In [5]:
#drop the empty column 
df_raw.drop(columns = ['Unnamed: 3'], inplace = True)

In [6]:
df_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4024 entries, 0 to 4023
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Age                     4024 non-null   int64
 1   Race                    4024 non-null   object
 2   Marital Status          4024 non-null   object
 3   T Stage                 4024 non-null   object
 4   N Stage                 4024 non-null   object
 5   6th Stage               4024 non-null   object
 6   Grade                   4024 non-null   object
 7   A Stage                 4024 non-null   object
 8   Tumor Size              4024 non-null   int64
 9   Estrogen Status         4024 non-null   object
 10  Progesterone Status     4024 non-null   object
 11  Regional Node Examined  4024 non-null   int64
 12  Reginol Node Positive   4024 non-null   int64
 13  Survival Months         4024 non-null   int64
 14  Status                  4024 non-null   object
dtypes: int64(5), object(10)
memory usage: 471.7+ KB

### 1-2: Data Definition 

As seen in the info above, there are 10 categorical columns and 5 numerical columns.
There seems to be no null value for all the records.


To be abale to do proper statical analysis we are going to convert the categorical columns to numberical data

In [26]:
#check the columns name 
df_raw.columns

Index(['Age', 'Race ', 'Marital Status', 'T Stage ', 'N Stage', '6th Stage',
       'Grade', 'A Stage', 'Tumor Size', 'Estrogen Status',
       'Progesterone Status', 'Regional Node Examined',
       'Reginol Node Positive', 'Survival Months', 'Status'],
      dtype='object')

In [36]:
#fix "Race" and "T Stage" column name and remove the space 
df = df_raw.rename(columns={'Race ':'Race','T Stage ':'T Stage'})

In [9]:
'''
profile = ProfileReport(df_raw, title="Pandas Profiling Report")
profile_report = df.profile_report(html={'style': {'full_width': True}})
profile_report.to_file("../data-report.html")

In [37]:
#all the columns with object datatype 
objetc_columns = df.dtypes[df.dtypes == object]
objetc_columns.index

Index(['Race', 'Marital Status', 'T Stage', 'N Stage', '6th Stage', 'Grade',
       'A Stage', 'Estrogen Status', 'Progesterone Status', 'Status'],
      dtype='object')

In [39]:
#exploring all the columns to get the unique values 
df['Race'].unique()

array(['Other (American Indian/AK Native, Asian/Pacific Islander)',
       'White', 'Black'], dtype=object)

In [31]:
#get the distributaion of different races
df['Race'].value_counts()

White                                                        3413
Other (American Indian/AK Native, Asian/Pacific Islander)     320
Black                                                         291
Name: Race, dtype: int64

In [51]:
df['Marital Status'].unique()

array(['Married (including common law)', 'Divorced',
       'Single (never married)', 'Widowed', 'Separated'], dtype=object)

In [52]:
df['Marital Status'].value_counts()

Married (including common law)    2643
Single (never married)             615
Divorced                           486
Widowed                            235
Separated                           45
Name: Marital Status, dtype: int64

In [53]:
df['T Stage'].unique()

array(['T2', 'T1', 'T3', 'T4'], dtype=object)

In [54]:
df['T Stage'].value_counts()

T2    1786
T1    1603
T3     533
T4     102
Name: T Stage, dtype: int64

In [55]:
df['N Stage'].unique()

array(['N3', 'N2', 'N1'], dtype=object)

In [56]:
df['N Stage'].value_counts()

N1    2732
N2     820
N3     472
Name: N Stage, dtype: int64

In [67]:
df['A Stage'].unique()

array(['Regional', 'Distant'], dtype=object)

In [68]:
df['A Stage'].value_counts()

Regional    3932
Distant       92
Name: A Stage, dtype: int64

In [57]:
df['6th Stage'].unique()

array(['IIIC', 'IIIA', 'IIB', 'IIA', 'IIIB'], dtype=object)

In [58]:
df['6th Stage'].value_counts()

IIA     1305
IIB     1130
IIIA    1050
IIIC     472
IIIB      67
Name: 6th Stage, dtype: int64

In [59]:
df['Grade'].unique()

array(['Moderately differentiated; Grade II',
       'Poorly differentiated; Grade III', 'Well differentiated; Grade I',
       'Undifferentiated; anaplastic; Grade IV'], dtype=object)

In [60]:
df['Grade'].value_counts()

Moderately differentiated; Grade II       2351
Poorly differentiated; Grade III          1111
Well differentiated; Grade I               543
Undifferentiated; anaplastic; Grade IV      19
Name: Grade, dtype: int64

In [61]:
df['Estrogen Status'].unique()

array(['Positive', 'Negative'], dtype=object)

In [62]:
df['Estrogen Status'].value_counts()

Positive    3755
Negative     269
Name: Estrogen Status, dtype: int64

In [63]:
df['Progesterone Status'].unique()

array(['Positive', 'Negative'], dtype=object)

In [64]:
df['Progesterone Status'].value_counts()

Positive    3326
Negative     698
Name: Progesterone Status, dtype: int64

In [65]:
df['Status'].unique()

array(['Alive', 'Dead'], dtype=object)

In [66]:
df['Status'].value_counts()

Alive    3408
Dead      616
Name: Status, dtype: int64

In [85]:
#convert the all categorical columns data to numeric as below:
cleanup_nums = { 'Race': {'White':1, 'Black':2, 'Other (American Indian/AK Native, Asian/Pacific Islander)':3},
                 'Marital Status':{'Single (never married)':1, 'Married (including common law)':2,'Seprated':3,'Divorced':4,'Widowed':5},
                 'T Stage':{'T1':1, 'T2':2, 'T3':3, 'T4':4},
                 'N Stage':{'N1':1, 'N2':2, 'N3':3},
                 '6th Stage':{'IIA':1, 'IIB':2, 'IIIA':1, 'IIIB':2, 'IIIC':3}, 
                 'Grade':{'Moderately differentiated; Grade II':2, 'Poorly differentiated; Grade III':3, 'Well differentiated; Grade I':1, 'Undifferentiated; anaplastic; Grade IV':4},
                 'A Stage':{'Regional':1, 'Distant':2}, 
                 'Estrogen Status':{'Positive':1,'Negative':2}, 
                 'Progesterone Status':{'Positive':1,'Negative':2}, 
                 'Status':{'Alive':1,'Dead':2}}

In [86]:
df.replace(cleanup_nums)

,Age,Race,Marital Status,T Stage,N Stage,6th Stage,Grade,A Stage,Tumor Size,Estrogen Status,Progesterone Status,Regional Node Examined,Reginol Node Positive,Survival Months,Status
0,43,3,2,2,3,3,2,1,40,1,1,19,11,1,1
1,47,3,2,2,2,1,2,1,45,1,1,25,9,2,1
2,67,1,2,2,1,2,3,1,25,1,1,4,1,2,2
3,46,1,4,1,1,1,2,1,19,1,1,26,1,2,2
4,63,1,2,2,2,1,2,1,35,1,1,21,5,3,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4019,52,1,2,1,1,1,1,1,10,1,1,19,1,107,1
4020,53,1,2,1,2,1,3,1,9,2,2,13,5,107,1
4021,53,1,4,1,1,1,2,1,9,2,2,4,2,107,1
4022,60,3,2,1,1,1,2,1,9,1,1,14,2,107,1
4023,62,1,4,1,1,1,2,1,8,1,1,1,1,107,1